<?xml version="1.0"?>
<launch>


  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="PyRacecarSimulator" name="simple_driver" type="simple_driver.py" output="screen">
    <rosparam command="load" file="$(find PyRacecarSimulator)/params.yaml"/>
  </node>

  <!-- -->
</launch>
